 **{
    margin: 0;
    padding: 0;
    font-family: "Fira Code", serif;
}
.rest{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../images/sandwich.jpg");     /* hena bt7ot el soora el background */
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav{
    display: flex;
    padding: 20px 100px;
}
.logo{padding: 1px;margin: 0}
.logo p{
    color: grey;
    font-size: 50px;
}
.logo span{
    color: rgba(255,244,73,0.83);
}
.links {
    flex: 1;
}
.links ul{
    margin-left: 50px;
    display: inline;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: lightgrey;
    display: block;
    margin: auto;
    transition: .5s;
}
.links ul li:hover::after{
    width: 100%;
}

.links ul li a{
    color: gray;
    text-decoration: none;
    font-size: 20px;
}
.btn {
    padding: 10px 20px;
    border: 0;
    background-color: rgba(255,244,73,0.83);
    font-weight: bold;
    cursor: pointer;
}
.links .btn {
    float: right;
}
.banner{
    margin: 80px 130px;
    color: lightgrey;
}
.banner h1{
    font-size: 64px;
    margin-bottom: 30px
}
.banner h1 span{
    color: rgba(255,244,73,0.83);
}
.vertical{
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: absolute;
}
.search{
    height: 60%;
    width: 80px;
}
.search .fas{
    margin: 45px 23px;
    display: block;
    color: lightgrey;
    font-size: 20px;
    cursor: pointer;
}
.social{
    height: 35%;
    width: 80px;
    background: rgba(255,244,73,0.83);
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social .fab{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.51);
    border-radius: 50%;
}
.notifications {
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(255,244,73,0.83);
    align-items: center;
}
.contents {
    flex-basis: 50%;
    padding: 8px;
}
.contents p {
    text-align: right;
    margin-top: 10px;
}


.contents a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 0 10px;
}

.not-img {
    flex-basis: 50%;
}
.not-img img {
    width: 100%;
}

@media (max-width: 700px) {
    .vertical{
        display: none;
    }
    .banner{margin: 80px 40px;}
    .banner h1{font-size: 50px}
    .notifications{width: 100%}
    .nav {padding: 10px 30px;}

}





 






















